@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap");

:root {
  /*primary*/
  --primary-1: #000000;
  --primary-2: #ffffff;
  --primary-3: #ffffff;
  --primary-4: #ffffff;
  --primary-5: #bdae82;
  --primary-6: #bdae82;
  --primary-7: #000000;

  --title-section-color: #bdae82;
  --link-text-color: #ffffff;
  --hover-link-color: #bdae82;
  --hover-black-link-color: #000000;
  --main-text-color: #ffffff;
  --icon-big-color: #bdae82;
  --icon-small-color: #ffffff;
  --hover-icon-small-color: #bdae82;
  --border-color: #bdae82;
  --input-color: #bdae82;
  --burger-color: #ffffff;
  --background-menu-burger: #000000;
}
.theme-light {
  --primary-1: #ffffff;
  --primary-2: #000000;
  --primary-3: #bdae82;
  --primary-4: #000000;
  --primary-5: #000000;
  --primary-6: #ffffff;
  --primary-7: #bdae82;
}
.theme-buttons {
  position: fixed;
  top: 10%;
  right: 13%;
  z-index: 2;
  background-color: transparent;
  width: 45px;
  height: 45px;
  background-image: url(../assets/svg/sun.svg);
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}
.theme-buttons.theme {
  background-image: url(../assets/svg/moon.svg);
}
html {
  font-size: 10px;
  line-height: 10px;
  color: var(--primary-4);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  /* color: var(--link-text-color); */
  color: var(--primary-2);
}

a:hover {
  color: var(--hover-link-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: var(--primary-1);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.h81 {
  height: 81px;
}

.mr-5 {
  margin-right: 5px;
}

.section-title {
  font-family: "Merriweather";
  font-size: 4rem;
  font-weight: 700;
  line-height: 8rem;
  color: var(--primary-5);
  position: relative;
  margin-bottom: 60px;
}

.section-title-wrapper {
  max-width: 50%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.section-title::after,
.section-title::before {
  position: absolute;
  display: block;
  content: "";
  width: 160px;
  height: 2px;
  top: 50%;
  background-color: var(--primary-5);
}

.section-title::after {
  right: 0;
}

.section-title::before {
  left: 0;
}

.button {
  /* padding: 8px 72px 7px 73px; */
  min-width: 220px;
  min-height: 55px;
  background-color: var(--primary-6);
  font-family: "Inter";
  font-size: 2rem;
  line-height: 4rem;
  border: 0;
  cursor: pointer;
  display: block;
  color: #000000;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}
.rotate {
  transform: rotate(360deg);
}
.button .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}
@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.button:hover {
  color: #ffffff;
}
.button:hover.theme-light {
  color: var(--primary-7);
}
.button-black {
  padding: 8px 72px 7px 69px;
  background-color: var(--primary-7);
  cursor: pointer;
  font-family: "Inter";
  font-size: 2rem;
  line-height: 4rem;
  width: 220px;
  height: 55px;
  border: solid 2px var(--border-color);
  color: var(--primary-5);
  transition: 0.3s;
}
/* =========================================================================== */
.text-box {
  margin-left: 44vw;
  margin-top: 42vh;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 0px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.8s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* ================================================================================== */

.button-black.active {
  padding: 8px 72px 7px 73px;
  width: 220px;
  height: 55px;
  background-color: var(--primary-5);
  font-family: "Inter";
  font-size: 2rem;
  line-height: 4rem;
  border: 0;
  cursor: pointer;
  display: block;
  color: var(--primary-7);
  transition: 0.3s;
}
.button-black.active.theme-light {
}
.button-black:hover {
  background-color: var(--primary-5);
  color: var(--primary-7);
}

.price__section-button {
  color: #000000;
  background-color: #bdae82;
  padding: 5px 27px 7px 27px;
  width: 220px;
  height: 55px;
  display: block;
  cursor: pointer;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  font-family: Inter;
  margin: 0 auto;
  margin-bottom: 38px;
  transition: 0.3s;
}

.price__section-button:hover {
  color: #ffffff;
}

.header__container {
  background: url(../assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  height: 910px;
  /* width: 100%; */
}
.header__container.theme-light {
  background: url(../assets/img/bg-them.jpg);
}

.header__navigation {
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
}

.header__navigation-item {
  margin-right: 30px;
}

.header__navigation-lang {
  margin-right: 13px;
  align-items: center;
  display: flex;
}

.header__navigation-items {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.header__navigation-wrapper {
  display: flex;
  margin-right: -11px;
}

.header__navigation-link {
  line-height: 5rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--primary-2);
}

.header__navigation-lang-link {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 5rem;
  color: var(--primary-2);
}

.header__navigation-lang-link-en {
  margin-right: 9px;
}
.header__navigation-lang-link.active {
  color: #bdae82;
}

.header__navigation-lang-link-ru {
  margin-left: 8px;
}

.icon-logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
}

.icon-logo:hover {
  fill: #bdae82;
}
.icon-sun.theme {
  display: block;
}
.icon-sun {
  fill: var(--link-text-color);
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: none;
  stroke: black;
}
.icon-sun:hover {
  fill: #bdae82;
}
.icon-moon.theme {
  display: block;
}
.icon-moon {
  fill: var(--link-text-color);
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  stroke: black;
}
.icon-moon:hover {
  fill: #bdae82;
}

.hero {
  max-width: 500px;
  margin-left: 80px;
}

.header__hero-title {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 6rem;
  line-height: 12rem;
  margin-bottom: 40px;
  color: var(--primary-2);
}

.header__hero-text {
  font-family: "Inter";
  font-size: 2rem;
  line-height: 4rem;
  padding-right: 30px;
  margin-bottom: 25px;
  margin-top: -30px;
  color: var(--primary-2);
}

.skills {
  background-color: var(--primary-1);
  padding-top: 100px;
  text-align: center;
  /* width: 100%; */
}

.skills__section-title-item {
  font-family: "Inter";
  font-weight: bold;
  font-size: 2rem;
  line-height: 4rem;
}

.skills__section-span-audio {
  margin-top: 115px;
  display: block;
}

.skills__section-span-retouch {
  margin-top: 115px;
  display: block;
}

.skills__section-span-video {
  margin-top: 115px;
  display: block;
}

.skills__section-span-photo {
  margin-top: 116px;
  display: block;
}

.skills__section-text {
  font-family: "Inter";
  font-size: 1.8rem;
  line-height: 3.6rem;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
}

.skills__section-item {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 240px;
  justify-content: center;
  position: relative;
}

.skills__section-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 20px 0px 20px;
}

.icon-camera {
  height: 60px;
  width: 60px;
  fill: #bdae82;
  position: absolute;
  top: -6px;
  right: 131px;
}

.icon-video {
  height: 70px;
  width: 60px;
  fill: #bdae82;
  position: absolute;
  top: -10px;
  right: 131px;
}

.icon-image {
  height: 76px;
  width: 65px;
  fill: #bdae82;
  position: absolute;
  top: -14px;
  right: 128px;
}

.icon-mic {
  height: 50px;
  width: 35px;
  fill: #bdae82;
  position: absolute;
  top: -2px;
  right: 145px;
}

.portfolio {
  padding-top: 100px;
  text-align: center;
  background-color: var(--primary-1);
}

.portfolio__section-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 895px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.portfolio__section-imgs {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 450px 450px 450px; */
  /* grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); */
  gap: 25px;
}

/* -- Video Section -- */
.video {
  padding-top: 100px;
}

.video__player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video__track {
  position: relative;
  z-index: 1;
  width: calc(100% + 2px);
  height: auto;
  border: 3px solid #bdae82;
  border-bottom: 0;
}
.video__img {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  max-height: 722px;
  background-image: url(../assets/img/video-player.jpg);
  background-repeat: no-repeat;
  background-size: auto 722px;
  background-position: center center;
  border: 3px solid #bdae82;
  cursor: pointer;
  transition: all 0.5s ease;
}
.play__btn {
  position: absolute;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all 0.5s ease;
}
.play__btn--color {
  height: 150px;
  width: 150px;
  background-image: url(../assets/svg/play-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}
.no-active {
  display: none;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 2;
  width: calc(100% + 2px);
  height: 60px;
  padding: 0 20px;
  background-color: #000000;
  border: 3px solid #bdae82;
  border-top: 0;
}
.controls__btn {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.play {
  max-width: 32px;
  background-image: url(../assets/svg/play.svg);
  margin-right: 15px;
}
.pause {
  background-image: url(../assets/svg/pause.svg);
}
.volume {
  max-width: 32px;
  background-image: url(../assets/svg/volume.svg);
  margin-right: 15px;
  margin-left: 15px;
}
.mute {
  background-image: url(../assets/svg/mute.svg);
}
.loud {
  opacity: 1;
}
.fullscreen {
  max-width: 32px;
  background-image: url(../assets/svg/fullscreen.svg);
  margin-left: 15px;
}
.fullscreen__exit {
  background-image: url(../assets/svg/fullscreen-exit.svg);
}
.video__progress,
.volume__progress {
  width: 100%;
  height: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.video__progress {
  min-width: calc(80% - 160px);
  background: linear-gradient(
    to right,
    #bdae82 0%,
    #bdae82 0%,
    #c8c8c8 0%,
    #c8c8c8 100%
  );
}
.volume__progress {
  max-width: 250px;
  background: linear-gradient(
    to right,
    #bdae82 0%,
    #bdae82 50%,
    #c8c8c8 50%,
    #c8c8c8 100%
  );
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--color-body);
  cursor: pointer;
  box-shadow: none;
}
/* .video__section-content {

  height: auto;
  border: 2px solid #bdae82;
  width: calc(100% + 2px);
}
.video__section-content.on {
  border: 2px solid var(--border-color);
  border-bottom: none;
}
.video {
  padding-top: 100px;
  text-align: center;
  background-color: var(--primary-1);
}

.video__section-video {
  height: 705px;
  position: relative;
  margin-left: 20px;
  background-repeat: no-repeat;
}

.play {
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.volume-icon {
  background-image: url("../assets/svg/volume.svg");
}

.mute {
  background-image: url("../assets/svg/mute.svg");
}
.play-icon {
  width: 32px;
  height: 32px;
  fill: white;
}
.play-icon {
  width: 40px;
  height: 36px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}

.play-icon:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.video__section-controls {
  display: none;
  width: calc(100% + 2px);
  height: 60px;
  border: 2px solid var(--border-color);
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  border-top: 0;
  background-color: var(--primary-1);
  border: 2px solid #bdae82;
  border-top: 0;
}
.video__section-controls.on {
  display: flex;
}

.progress,
.volume {
  margin: 0 15px 0 0;
  height: 12px;
  border-radius: 14px;
  width: calc(80% - 160px);
  outline: none;
  cursor: pointer;
}

.volume {
  width: calc(20% - 40px);
} */
/* 
input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: var(--link-text-color);
}

input[type="range"]::-webkit-slider-runnable-track {

  color: var(--hover-link-color);
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  height: 30px;
  cursor: ew-resize;
  background: #434343;
  box-shadow: -800px 0 0 800px var(--hover-link-color);
}

.icon-play-btn {
  width: 130px;
  height: 130px;
  fill: #ffffff;
  position: absolute;
  top: 288px;
  left: 636px;
  cursor: pointer;
}
.icon-play-btn.disappear {
  display: none;
}

.icon-play-btn:hover {
  fill: #bdae82;
} */

.price {
  padding-top: 80px;
  text-align: center;
  background-color: var(--primary-1);
}

.price__section-items-wrapper {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.price__section-item {
  border: solid 3px #bdae82;
  margin-bottom: 100px;
  width: 450px;
}

.price__section-titel {
  line-height: 5.6rem;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: Merriweather;
  padding: 43px 164px 20px 158px;
}

.price__section-price {
  color: #bdae82;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 4.8rem;
  text-align: center;
  padding-bottom: 20px;
  display: block;
}

.price__section-list {
  font-family: Inter;
  font-size: 1.8rem;
  line-height: 3.6rem;
  padding-bottom: 40px;
}

.contacts {
  background-image: url(../assets/img/contacts-bg.jpg);
  min-height: 700px;
  padding-top: 1px;
  /* display: flex;
  justify-content: flex-end; */
}
.contacts.theme-light {
  background-image: url(../assets/img/contacts-them.jpg);
}

.contact-me__section-inputform-wrapper {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin-right: 21px;
  margin-top: 58px;
  border: 0;
  margin-left: auto;
}

.contact-me__section-titel {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 4rem;
  line-height: 8rem;
  margin-bottom: 40px;
  color: var(--title-section-color);
}

.contact-me__section-input {
  display: block;
  height: 50px;
  border: 2px solid var(--input-color);
  margin-bottom: 20px;
  background: transparent;
  /* padding: 12px 226px 5px 18px; */
  padding: 12px 0px 5px 18px;
  background-color: rgba(0 0 0 / 0.5);
  color: var(--input-color);
  font-size: 2rem;
  width: 100%;
}

::placeholder {
  font-family: inherit;
  color: var(--input-color);

  font-family: Inter;
  font-size: 2rem;
  line-height: 4rem;
}

.contact-me__section-input-text {
  resize: none;
  height: 100px;
  margin-bottom: 30px;
  /* padding: 4px 226px 5px 18px; */
  padding: 4px 0px 5px 18px;
  background-color: rgba(0 0 0 / 0.5);
}

.contact-me__section-button {
  color: #000000;
  background-color: #bdae82;
  width: 220px;
  cursor: pointer;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  font-family: Inter;
  border: 0;
  padding-top: 7px;
  padding-bottom: 8px;
}

.contact-me__section-button:hover {
  color: #ffffff;
}

.footer__section {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}

.footer__section-social-icons {
  display: flex;
  margin-bottom: -2px;
  width: 188px;
}

.footer__section-github {
  width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.footer__section-rss {
  font-size: 2rem;
  line-height: 5rem;
  font-family: Inter;
  margin-bottom: 1px;
}

.footer__section-year {
  font-size: 2rem;
  line-height: 5rem;
  font-family: Inter;
}

.footer__section-link-github {
  font-size: 2rem;
  line-height: 5rem;
  font-family: Inter;
  margin-right: 14px;
}
.social-color {
  fill: var(--primary-2);
}
.copy-icon {
  fill: var(--icon-small-color);
  width: 16px;
  height: 16px;
  gap: 20px;
}

.instagram-icon {
  cursor: pointer;
  width: 27px;
  height: 27px;
  transition: 0.3s;
  margin-left: 1px;
  margin-right: 30px;
  margin-top: 2px;
}

.instagram-icon:hover {
  fill: var(--hover-link-color);
}

.facebook-icon {
  cursor: pointer;
  height: 27px;
  width: 17px;
  transition: 0.3s;
  margin-right: 30px;
  margin-top: 3px;
}

.facebook-icon:hover {
  fill: var(--hover-link-color);
}

.twitter-icon {
  cursor: pointer;
  width: 28px;
  height: 22px;
  transition: 0.3s;
  margin-right: 23px;
  margin-top: 5px;
}

.twitter-icon:hover {
  fill: var(--hover-link-color);
}

.pinterest-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

.pinterest-icon:hover {
  fill: var(--hover-link-color);
}

@media (max-width: 1439px) {
  .container {
    /* width: 100%; */
    margin: 0 auto;
  }

  .portfolio__section-buttons {
    max-width: 450px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .portfolio__section-imgs {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .video {
    margin: 0 auto;
  }

  .video__section-video {
    /* display: block; */
    /* max-width: 100%; */
    margin: 0 auto;
    background-position: center;
  }

  .icon-play-btn {
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }

  .price__section-items-wrapper {
    flex-wrap: wrap;
  }

  .contact-me__section-inputform-wrapper {
    max-width: 450px;
  }

  /* .contact-me__section-input{
    padding-right: 0;
    
  } */
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    /* width: calc(100% - 40px); */
    margin: 0 auto;
  }

  .header__navigation {
    margin-bottom: 78px;
    padding: 20px 21px 20px 20px;
  }

  .header__container {
    height: 590px;
    background: url(../assets/img/bg-tablet.jpg);
  }
  .header__container.theme-light {
    height: 590px;
    background: url(../assets/img/bg-them-min.jpg);
  }

  .header__navigation-logo {
    margin-left: 40px;
  }

  .hero {
    max-width: 417px;
    margin-left: 60px;
  }

  .header__hero-title {
    font-size: 32px;
    line-height: 64px;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  .header__hero-text {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 33px;
  }

  .header__navigation-lang {
    margin-right: 34px;
  }

  .header__navigation-lang-link-ru {
    margin-right: -12px;
    margin-left: 20px;
  }

  .section-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 72px;
  }

  .skills__section-span-photo {
    margin-top: 90px;
  }

  .skills__section-text {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .icon-camera {
    top: 15px;
    right: 129px;
  }

  .skills__section-items {
    padding: 4px 54px 0px 49px;
    /* justify-content: center; */
  }

  .skills__section-span-video {
    margin-top: 90px;
  }

  .icon-video {
    top: 9px;
    right: 131px;
  }

  .skills__section-span-retouch {
    margin-top: 130px;
  }

  .icon-image {
    top: 27px;
    right: 128px;
  }

  .skills__section-span-audio {
    margin-top: 130px;
  }

  .icon-mic {
    top: 40px;
  }

  .portfolio {
    padding-top: 163px;
  }

  .portfolio__section-buttons {
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 162px;
    padding-bottom: 60px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .button-black{
  padding: 0px 72px 0px 69px;
  }

  .portfolio__section-imgs {
    max-width: 768px;
    grid-template-columns: 450px;
  }
.video__img{
  background-image: url(../assets/img/video-player-tablet.jpg);
  background-size: auto 421px;
  }
  .video__section-video {
    background-image: url(../assets/img/video-player-tablet.jpg);
    height: 418px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-position: left 0px;
  }

  .play__btn--color {
    height: 75px;
    width: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .price__section-items-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .price {
  padding-top: 100px;
}

  .price__section-item {
    width: 420px;
  }

  .price__section-titel {
    padding-top: 39px;
    padding-left: 143px;
  }

  .price__section-item {
    margin-bottom: 53px;
  }

  .price__section-titel-gold {
    padding-left: 166px;
  }

  .contacts {
    background-image: url(../assets/img/contacts-tablet.jpg);
    min-height: 600px;
    margin-top: 28px;
    justify-content: center;
    /* padding-left: 15px; */
  }
  .contacts.theme-light {
    background-image: url(../assets/img/contacts-them-mini.jpg);
  }

  .contact-me__section-titel {
    font-size: 3.2rem;
    line-height: 6.4rem;
    text-align: center;
    margin-bottom: 38px;
  }

  .contact-me__section-inputform-wrapper {
    /* margin-right: 17px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    height: 429px;
    margin: 0 auto;
    margin-top: 60px;
  }

  .contact-me__section-button {
    padding-top: 7px;
    padding-bottom: 8px;
    margin: 0 auto;
  }

  .footer__section {
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 28px;
  }

  .footer__section-github {
    margin-bottom: -21px;
    margin-left: 10px;
  }

  .footer__section-social-icons {
    width: 188px;
    height: 50px;
    align-items: baseline;
  }

  .footer__section {
    padding-left: 0;
    padding-right: 0;
    /* padding-left: 15px; */
  }

  .section-title::after,
  .section-title::before {
    width: 126px;
  }

  /* burger */
  .header-burger {
    display: block;
    position: relative;
    width: 50px;
    height: 28px;
    z-index: 30;
    cursor: pointer;
    margin-right: 55px;
    margin-top: 11px;
  }

  .header-burger span {
    background-color: var(--primary-2);
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 12px;
    transition: all 0.9s ease 0s;
  }

  .header-burger:before,
  .header-burger:after {
    content: "";
    background-color: var(--primary-2);
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header-burger:before {
    top: 0;
  }

  .header-burger:after {
    bottom: 0;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .header-burger.active:before {
    transform: rotate(45deg);
    top: 13px;
  }

  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 11px;
  }

  .header__navigation-items {
    position: fixed;
    top: 0;
    right: -1000%;
    width: 620px;
    height: 100%;
    /* transform: translate(100%, 0%); */
    overflow: auto;
    background-color: var(--primary-1);
    padding: 70px 10px 20px 10px;
    transition: right 0.3s ease 0s;
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 134px;
  }

  .header__navigation-items.active {
    /* transform: translate(0px, 0px); */
    right: 0;
  }

  .header__navigation-link {
    font-size: 3.5rem;
    line-height: 7.3rem;
    display: block;
    width: 100%;
    color: var(--primary-2);
  }

  .header__navigation-item {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
  }

  .header__navigation-items {
    margin-right: 0;
  }

  .header__navigation-link {
    padding-left: 123px;
  }

  .header-list {
    display: block;
    margin-left: 70px;
  }

  .header-list li {
    margin: 0px 0px 20px 0px;
  }

  .lock {
    overflow: hidden;
  }

  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  /* @media (max-width: 767px) {

  } */

  @media (max-width: 740px) {
    .skills__section-items {
      justify-content: center;
    }

    .portfolio__section-buttons {
      margin: 0 auto;
    }
  }

  @media (max-width: 620px) {
    .header__navigation-items.active {
      width: 100%;
      text-align: center;
    }

    .header__navigation-link {
      padding-left: 0;
    }

    .header__container {
      background-position: -180px -120px;
      background-size: auto 620px;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: 460px) {
    .skills__section-items {
      padding-left: 0;
      padding-right: 0;
    }

    img {
      width: 100%;
    }

    .header__navigation-logo {
      margin-left: 0;
    }

    .portfolio__section-buttons {
      flex-direction: column;
      align-items: center;
    }

    .video__section-video {
      background-position: -120px;
    }

    .price__section-titel {
      padding-left: 0;
      padding-right: 0;
    }

    .price__section-item {
      max-width: 300px;
    }

    .contacts {
      padding: 0 20px;
    }
  }
}
